<footer class="fixed-bottom">
  <nav class="navbar sticky-bottom bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.purdue.edu">
        <img
          src="/images/fox.webp"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Buy 
      </a>
    </div>
  </nav>
</footer>
